HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Logs e Arquivos Temporários
logs/
*.log
hs_err_pid*
nohup.out
# Arquivos de build
*.jar
*.war
*.ear

# Arquivos de ambiente (segurança)
.env

# Arquivos de banco de dados temporários
*.db
*.sqlite
*.h2.db
*.mv.db

# Arquivos do Docker
docker-compose.override.yml
.dockerignore

# Arquivos do sistema operacional
.DS_Store
Thumbs.db